In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import string
import re
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.feature_extraction.text import TfidfVectorizer
from imblearn.under_sampling import TomekLinks
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

%matplotlib inline

In [5]:
customer=pd.read_csv('data\\Customer_Data.csv')
customer.head()

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaN
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaN
2,34,4,1.0,Z005,NaN,2.0,NaN,NaN,NaN
3,35,5,1.0,Z005,NaN,NaN,NaN,NaN,NaN
4,42,7,1.0,Z008,NaN,NaN,NaN,NaN,NaN

In [6]:
invoice=pd.read_csv('data\\Final_invoice.csv')
invoice.head()

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (9,10,14,15,21,41,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,...,Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,Thane,NaN,...,NaN,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,NaN,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2
2,2,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE[W],NaN,...,NaN,0.0,IMRAN,233.14,0.0,0.0,0.0,0.0,233.14,BC01SA2
3,3,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,NaN,0.0,PRASHANT,0.00,0.0,0.0,0.0,0.0,0.00,BC01SA2
4,4,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE,NaN,...,NaN,0.0,DAYANAND,2747.12,0.0,0.0,0.0,0.0,2747.12,BC01SA2

In [7]:
JTD=pd.read_csv('data\\JTD.csv')
JTD.head()

,Unnamed: 0,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,0,22385,180,OSLCC_SRV31,NaN,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87
1,1,23910,10,1DM279018170117,NaN,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13
2,2,23910,40,1IS150203BE01,NaN,FRONT WHEEL BEARING/ LUBRICATE,P002,1.0,EA,2552.92
3,3,23910,60,1DM279001990173,NaN,ASSY.CYL.HEAD W /O INJ.(NA W /O,P002,1.0,EA,20360.14
4,4,23910,70,1DM88552790S001SA,NaN,Engine Overhaul Kit -Indica Di,P002,1.0,EA,10691.63

In [12]:
plant_master=pd.read_csv('data\\Plant Master.csv')
plant_master

,Plant,Name 1,Valuation Area,Customer no. - plant,Vendor number plant,Factory calendar,Name 2,House number and street,PO Box,Postal Code,City,Sales organization,State
0,BC07,NERKUNDRAM,BC07,PLBC07,PLBC07,IN,NaN,"No.117 Poonamallee High Road,",600107.0,600107,Chennai,MFCS,Tamil Nadu
1,BC30,SAS NAGAR - MOHALI,BC30,PLBC30,PLBC30,IN,NaN,"C-118, Phase 07,",160055.0,160055,Mohali,MFCS,Punjab
2,X001,X001 - AUTO PLANET WHEELS,X001,PLX001,NaN,IN,Thane,"Unit No.3, Kothari Compound,",400610.0,400610,Thane,MFCA,Maharashtra
3,X002,X002 - BHANDARI INDUSTRIES PVT,X002,PLX002,NaN,IN,Ghaziabad,"18/1, C Site 4, Sahibabad",201010.0,201010,Ghaziabad,MFCA,Uttar Pradesh
4,X003,X003 - Om Sri Satya Sai Automo,X003,PLX003,NaN,IN,Bengaluru,"#75, Sy.No. 83/2, Panathur Mai",560087.0,560087,Bengaluru,MFCB,Karnataka
5,X005,X005 - KLN MOTORS,X005,PLX005,NaN,IN,Chennai,"No.8 (NP) Developed Plot,",600032.0,600032,Chennai,MFCB,Tamil Nadu
6,X006,X006 - A.M.MOTORS,X006,PLX006,NaN,IN,Mumbai,"8, Mira, Behind Ajit Palace Ho",401104.0,401104,Thane,MFCB,Maharashtra
7,X007,X007 - OM SRI SATYA SAI AUTOMO,X007,PLX007,NaN,IN,Bengaluru,"Seegehalli main road,",560037.0,560037,Bengaluru,MFCB,Karnataka
8,X008,X008- AAKASH AUTO (Puducherry),X008,PLX008,NaN,IN,Puducherry,"145/2, Villiyanur main road,",605110.0,605110,Puducherry,MFCC,Puducherry
9,X010,X010 - LVM MOTORS,X010,PLX010,NaN,IN,Chennai,"B- 49 Emerald Nagar, SIPCOT,",632406.0,632406,Ranipet,MFCD,Tamil Nadu
10,X011,X011- AAKASH AUTO (Villupuram),X011,PLX011,NaN,IN,Chennai,"No 7, Trichy Trunk Road,",605401.0,605401,Villupuram,MFCD,Tamil Nadu
11,X012,X012 - SR CAR CARE,X012,PLX012,NaN,IN,Tamil Nadu,"No 5, Bye Pass Road,",608001.0,608001,Chidambaram,MFCD,Tamil Nadu
12,X013,X013 - SAI AUTO WORKS,X013,PLX013,NaN,IN,Tamil Nadu,"NH 45 C, Rainbow Nagar Near Mo",607308.0,607308,Neyveli,MFCD,Tamil Nadu
13,X014,X014 - NANGAN MOTORS PVT LTD.,X014,PLX014,NaN,IN,Ambur,"0/1, M.C.Road,",635802.0,635802,Ambur,MFCD,Tamil Nadu
14,X016,X016 - KHUTWAD MOTORS,X016,PLX016,NaN,IN,Boripardhi,"Khutwad Complex,",412203.0,412203,Boripardhi,MFCD,Maharashtra
15,X017,X017 - HEM KIRAN DIESELS,X017,PLX017,NaN,IN,Kolhapur,"1227-E Rajaram Road,",416008.0,416008,Kolhapur,MFCD,Maharashtra
16,X018,X018 - EXPRESS WHEELS AUTO SER,X018,PLX018,NaN,IN,Shirur,"Gut No. 1340,",412210.0,412210,Shirur,MFCD,Maharashtra
17,X020,X020 - SURYABALA SERVICE,X020,PLX020,NaN,IN,Coimbatore,"Subbiah Naidu Thottam,",641039.0,641039,Coimbatore,MFCC,Tamil Nadu
18,X021,X021 - THE TRUE SAI MOTORSS,X021,PLX021,NaN,IN,Salem,"1/9, Court Road,",636007.0,636007,Salem,MFCC,Tamil Nadu
19,X022,X022 - ARASU CAR ACCESSORIES,X022,PLX022,NaN,IN,Thanjavur,"# 20, Sanjeeve Nagar,",613005.0,613005,Thanjavur,MFCD,Tamil Nadu
20,X023,X023 - ROYAL KRR AUTOS,X023,PLX023,NaN,IN,Tirupur,"8(1A), KRR Layout, Karuvampala",641604.0,641604,Tirupur,MFCC,Tamil Nadu
21,X024,X024 - ARASU CAR ACC (TRICHY),X024,PLX024,NaN,IN,Trichy,"1, JP Nagar,",620009.0,620009,Tiruchirappalli,MFCC,Tamil Nadu
22,X025,X025 - SHIVALIK AUTOMOBILES,X025,PLX025,NaN,IN,Punjab,"NH-95,",142001.0,142001,Moga,MFCD,Punjab
23,X026,X026 - MAHADEVI SERVICE CENTER,X026,PLX026,NaN,IN,PUNE,"151/1, Mahalunge,",410501.0,410501,Pune,MFCD,Maharashtra
24,X027,X027 - RAHUL AUTO SERV. PVT.,X027,PLX027,NaN,IN,Pune,"Survey No. 167, adjacent to Pa",410506.0,410506,Pune,MFCD,Maharashtra
25,X028,X028 - SAIDEEP CAR CARE,X028,PLX028,NaN,IN,Ahmednagar,"Survey No. 55/1/2B/1, B/H New",414001.0,414001,Ahmednagar,MFCD,Maharashtra
26,X029,X029 - SWAMI AUTO CARE PVT LTD,X029,PLX029,NaN,IN,Zirakpur,"Singhpura,",140603.0,140603,Zirakpur,MFCD,Punjab
27,X031,X031 - ANUSHRI MOTORS,X031,PLX031,NaN,IN,Pollachi,"279,",642003.0,642003,Pollachi,MFCD,Tamil Nadu
28,X032,X032 - SBBS MOTORS,X032,PLX032,NaN,IN,Dharmapuri,"5/309A, Sagadevan Street,",636705.0,636705,Dharmapuri,MFCD,Tamil Nadu
29,X033,X033 - TRISTAR INDIA TRADING,X033,PLX033,NaN,IN,Shimoga,"Plot No. 9/3 # 897/3,",577202.0,577202,Shimoga,MFCD,Karnataka
...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,X655,X655 - JOSNIKA DEVELOPERS PVT.,X655,PLX655,NaN,IN,Durgapur,"Khatian No.4009, Daag No 1158,",713363.0,713363,Durgapur,MFCD,West Bengal
409,X661,X661 - RUDRA MOTORS,X661,PLX661,NaN,IN,Sirsa,"7km Mile Stone,",125055.0,125055,Sirsa,MFCD,Haryana
410,X672,X672 - SRI SANTHI VIJAY MOTORS,X672,PLX672,NaN,IN,Mayiladuthurai,"36/44 Tarangambadi Main Road,",609001.0,609001,Mayiladuthurai,MFCD,Tamil Nadu
411,X676,X676 - YASH MOTORS,X676,PLX676,NaN,IN,Narwana,"Patiala Road, Near Railway Fat",453115.0,453115,Narwana,MFCD,Haryana
412,X677,X677 - NEW PREM AUTOMOBILE,X677,PLX677,NaN,IN,Bhagpat,"Plot No. 525,",250609.0,250609,Bhagpat,MFCD,Uttar Pradesh
413,X688,X688 - GIRRAJJI MOTORS,X688,PLX688,NaN,IN,Agra,"Plot No.10K, Mauja Rohta, Gwal",NaN,999999,Agra,MFCD,Uttar Pradesh
414,X689,X689 - POONAM MOTORS,X689,PLX689,NaN,IN,Delhi,"Opp. Rama Krishna Apartment, N",999999.0,999999,Delhi,MFCA,Delhi
415,X691,X691 - SAMMANTHAM MOTORS,X691,PLX691,NaN,IN,Kanchipuram,"No: 610/610A, Kanchi Co-Opera",631501.0,631501,Kanchipuram,MFCD,Tamil Nadu
416,X693,X693 - SWASTIK MOTORS,X693,PLX693,NaN,IN,Kolkata,"Mouza Karimpur,J.L. 2, P.S. So",700150.0,700150,Kolkata,MFCD,West Bengal
417,X701,X701 - JOSNIKA INFRA PVT. LTD.,X701,PLX701,NaN,IN,Titagarh,"2 No., BT Road, Beside CESC Ti",700119.0,700119,Titagarh,MFCD,West Bengal
418,X704,X704 - ROLLING RIGHT SERVICES,X704,PLX704,NaN,IN,Mangalore,"Plot No. 2-60/C, Nh-66, Kallap",575017.0,575017,Mangalore,MFCC,Karnataka
419,X705,X705 - M/S SLV CAR CARE,X705,PLX705,NaN,IN,Tumkur,"No. 30, 2nd Main Road, Sapthag",572102.0,572102,Tumkur,MFCD,Karnataka
420,X706,X706 - ADITYA & BROTHERS,X706,PLX706,NaN,IN,Manendragarh,"Plot No. 343/10, In Front Of K",999999.0,999999,Manendragarh,MFCD,Chhattisgarh
421,X707,X707 - EKAM MOTORS,X707,PLX707,NaN,IN,Kekri,"F-54, Riico Industrial Area,",305404.0,305404,Kekri,MFCD,Rajasthan
422,X709,X709 - RANASHRI MOTORS PVT. LT,X709,PLX709,NaN,IN,Charkhi Dadri,"Khata No.1201, Khatoni No.1283",127306.0,127306,Charkhi Dadri,MFCD,Haryana
423,X712,X712 - M/S. JAPAT CAR CARE PVT,X712,PLX712,NaN,IN,Batala,"14/615 16, 25, 17/5, 6/1, Khew",143505.0,143505,Batala,MFCD,Punjab
424,X714,X714 - M/S SRI GURURAGHAVENDRA,X714,PLX714,NaN,IN,Kanakapura Road,"42/7, R K Industries, 80Ft. Ro",560061.0,560061,Kanakapura Road,MFCD,Karnataka
425,X720,X720 - S.G. INFRACARE (P) LTD.,X720,PLX720,NaN,IN,Sarojini Nagar,"Plot No. 1016, Sarojini Nagar,",226001.0,226001,Lucknow,MFCD,Uttar Pradesh
426,X728,X728 - M/S S & P AUTOMOTIVE SE,X728,PLX728,NaN,IN,Jhabua,"Halka No: 18, Village Mindal,",457661.0,457661,Jhabua,MFCD,Madhya Pradesh
427,X729,X729 - PERFORMANCE AUTOMOTIVES,X729,PLX729,NaN,IN,Solinganallur,"No.384, Village High Road,",600119.0,600119,Solinganallur,MFCD,Tamil Nadu
428,X748,X748 - MURALI AUTOMOBILES PVT,X748,PLX748,NaN,IN,Mulund,"Shade No.13, Anjani Kumar Indu",400079.0,400079,Mulund,MFCA,Maharashtra
429,X749,X749 - MURALI AUTOMOBILES PVT,X749,PLX749,NaN,IN,Thane,"Anand Cinema Compound,",400079.0,400079,Thane,MFCA,Maharashtra
430,X756,X756 - ZENITH AUTOMOTIVE SERVI,X756,PLX756,NaN,IN,Meerut,NaN,0.0,999999,Meerut,MFCD,Uttar Pradesh
431,X758,X758 - VELOCITY AUTOMOTIVES PV,X758,PLX758,NaN,IN,AMBALA,"#Nh-1 G T Road, Near Jandli Br",0.0,134003,Ambala,MFCD,Haryana
432,X770,X770 - GURUDEV MOTORS PVT. LTD,X770,PLX770,NaN,IN,Madurai,"581/84-83 Dindigl Highway,",625018.0,625018,Madurai,MFCD,Tamil Nadu
433,X780,X780 - SOKHI BROTHERS MOTOR DI,X780,PLX780,NaN,IN,Bhopal,"Jk Main Road,",462023.0,462023,Bhopal,MFCD,Madhya Pradesh
434,X781,X781 - XPRESS SERVICE,X781,PLX781,NaN,IN,Coimbatore,"149 Dhayal Street, Thiru Nagar",641030.0,641030,Coimbatore,MFCD,Tamil Nadu
435,X789,X789 - ARYAN MOTORS,X789,PLX789,NaN,IN,Barielly,"33,35, Rajiv Enclave Extension",243001.0,243001,Barielly,MFCD,Uttar Pradesh
436,X795,X795 - RS MOTORS,X795,PLX795,NaN,IN,Guindy,"49&51/2, Thiru Vi Ka Industria",600032.0,600032,Chennai,MFCA,Tamil Nadu
437,X796,X796 - SINHA CARS PVT LTD,X796,PLX796,NaN,IN,Khoparkairane,"A/70, T.T.C. Industrial Estate",400710.0,400710,Khoparkairane,MFCC,Maharashtra

In [9]:
JTD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5619484 entries, 0 to 5619483
Data columns (total 10 columns):
Unnamed: 0             int64
DBM Order              int64
Order Item             int64
Material               object
Labor Value Number     object
Description            object
Item Category          object
Order Quantity         float64
Target quantity UoM    object
Net value              float64
dtypes: float64(2), int64(3), object(5)
memory usage: 428.7+ MB

In [10]:
invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492314 entries, 0 to 492313
Data columns (total 59 columns):
Unnamed: 0              492314 non-null int64
Amt Rcvd From Custom    295028 non-null float64
Amt Rcvd From Ins Co    295028 non-null float64
Area / Locality         468424 non-null object
CGST(14%)               295028 non-null float64
CGST(2.5%)              295028 non-null float64
CGST(6%)                295028 non-null float64
CGST(9%)                295028 non-null float64
CITY                    492313 non-null object
Cash /Cashless Type     27420 non-null object
Claim No.               4804 non-null object
Cust Type               492314 non-null object
Customer No.            492314 non-null object
District                492314 non-null object
Expiry Date             22231 non-null object
Gate Pass Date          40915 non-null object
Gate Pass Time          492314 non-null object
IGST(12%)               295028 non-null float64
IGST(18%)               295028 non-null float64
IGST(28%)               295028 non-null float64
IGST(5%)                295028 non-null float64
Insurance Company       23591 non-null object
Invoice Date            492314 non-null object
Invoice No              492314 non-null int64
Invoice Time            492314 non-null object
Job Card No             492314 non-null int64
JobCard Date            492314 non-null object
JobCard Time            492314 non-null object
KMs Reading             492314 non-null int64
Labour Total            492314 non-null float64
Make                    492314 non-null object
Misc Total              492314 non-null float64
Model                   490789 non-null object
ODN No.                 295028 non-null float64
OSL Total               492314 non-null float64
Order Type              492314 non-null object
Outstanding Amt         295028 non-null float64
Parts Total             492314 non-null float64
Pin code                492314 non-null int64
Plant                   492314 non-null object
Plant Name1             492314 non-null object
Policy no.              16882 non-null object
Print Status            492314 non-null object
Recovrbl Exp            492314 non-null float64
Regn No                 492298 non-null object
SGST/UGST(14%)          295028 non-null float64
SGST/UGST(2.5%)         295028 non-null float64
SGST/UGST(6%)           295028 non-null float64
SGST/UGST(9%)           295028 non-null float64
Service Advisor Name    0 non-null float64
TDS amount              295028 non-null float64
Technician Name         255480 non-null object
Total Amt Wtd Tax.      492314 non-null float64
Total CGST              295028 non-null float64
Total GST               295028 non-null float64
Total IGST              295028 non-null float64
Total SGST/UGST         295028 non-null float64
Total Value             295028 non-null float64
User ID                 492314 non-null object
dtypes: float64(29), int64(5), object(25)
memory usage: 221.6+ MB

In [17]:
invoice['Service Advisor Name'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Service Advisor Name, dtype: float64

In [14]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555338 entries, 0 to 555337
Data columns (total 9 columns):
Business Partner    555338 non-null object
Customer No.        555338 non-null object
Partner Type        555260 non-null float64
Data Origin         555202 non-null object
Title               509031 non-null float64
Marital Status      16037 non-null float64
Occupation          14558 non-null float64
Date of Birth       13444 non-null object
Death date          663 non-null object
dtypes: float64(4), object(5)
memory usage: 38.1+ MB

In [29]:
customer_invoice = pd.DataFrame(pd.merge(customer, invoice, left_on='Customer No.', right_on='Customer No.',how='left'))
customer_invoice.head()

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date,Unnamed: 0,...,Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34,4,1.0,Z005,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35,5,1.0,Z005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42,7,1.0,Z008,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
customer_invoice_JTD=pd.DataFrame(pd.merge(customer_invoice, JTD, left_on='Job Card No', right_on='DBM Order',how='left'))
customer_invoice_JTD.head()

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date,Unnamed: 0_x,...,Unnamed: 0_y,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34,4,1.0,Z005,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35,5,1.0,Z005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42,7,1.0,Z008,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
customer_invoice.shape

(571416, 67)

In [27]:
customer.shape

(555338, 9)

In [28]:
invoice.shape

(492314, 59)

In [31]:
JTD.shape

(5619484, 10)

In [43]:
customer_invoice_JTD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705757 entries, 0 to 705756
Data columns (total 77 columns):
Business Partner        705757 non-null object
Customer No.            705757 non-null object
Partner Type            692134 non-null float64
Data Origin             676542 non-null object
Title                   527870 non-null float64
Marital Status          16037 non-null float64
Occupation              14558 non-null float64
Date of Birth           13444 non-null object
Death date              663 non-null object
Unnamed: 0_x            154068 non-null float64
Amt Rcvd From Custom    144607 non-null float64
Amt Rcvd From Ins Co    144607 non-null float64
Area / Locality         3269 non-null object
CGST(14%)               144607 non-null float64
CGST(2.5%)              144607 non-null float64
CGST(6%)                144607 non-null float64
CGST(9%)                144607 non-null float64
CITY                    154068 non-null object
Cash /Cashless Type     7484 non-null object
Claim No.               1606 non-null object
Cust Type               154068 non-null object
District                154068 non-null object
Expiry Date             951 non-null object
Gate Pass Date          11712 non-null object
Gate Pass Time          154068 non-null object
IGST(12%)               144607 non-null float64
IGST(18%)               144607 non-null float64
IGST(28%)               144607 non-null float64
IGST(5%)                144607 non-null float64
Insurance Company       989 non-null object
Invoice Date            154068 non-null object
Invoice No              154068 non-null float64
Invoice Time            154068 non-null object
Job Card No             154068 non-null float64
JobCard Date            154068 non-null object
JobCard Time            154068 non-null object
KMs Reading             154068 non-null float64
Labour Total            154068 non-null float64
Make                    154068 non-null object
Misc Total              154068 non-null float64
Model                   153937 non-null object
ODN No.                 144607 non-null float64
OSL Total               154068 non-null float64
Order Type              154068 non-null object
Outstanding Amt         144607 non-null float64
Parts Total             154068 non-null float64
Pin code                154068 non-null float64
Plant                   154068 non-null object
Plant Name1             154068 non-null object
Policy no.              949 non-null object
Print Status            154068 non-null object
Recovrbl Exp            154068 non-null float64
Regn No                 154068 non-null object
SGST/UGST(14%)          144607 non-null float64
SGST/UGST(2.5%)         144607 non-null float64
SGST/UGST(6%)           144607 non-null float64
SGST/UGST(9%)           144607 non-null float64
Service Advisor Name    0 non-null float64
TDS amount              144607 non-null float64
Technician Name         69166 non-null object
Total Amt Wtd Tax.      154068 non-null float64
Total CGST              144607 non-null float64
Total GST               144607 non-null float64
Total IGST              144607 non-null float64
Total SGST/UGST         144607 non-null float64
Total Value             144607 non-null float64
User ID                 154068 non-null object
Unnamed: 0_y            154068 non-null float64
DBM Order               154068 non-null float64
Order Item              154068 non-null float64
Material                153684 non-null object
Labor Value Number      50114 non-null object
Description             153684 non-null object
Item Category           154068 non-null object
Order Quantity          154068 non-null float64
Target quantity UoM     153684 non-null object
Net value               154068 non-null float64
dtypes: float64(43), object(34)
memory usage: 420.0+ MB

In [44]:
customer_invoice_JTD_plant=pd.DataFrame(pd.merge(customer_invoice_JTD, plant_master, left_on='Plant', right_on='Plant',how='left'))
customer_invoice_JTD_plant.head()

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date,Unnamed: 0_x,...,Customer no. - plant,Vendor number plant,Factory calendar,Name 2,House number and street,PO Box,Postal Code,City,Sales organization,State
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34,4,1.0,Z005,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35,5,1.0,Z005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42,7,1.0,Z008,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
customer_invoice_JTD_plant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705757 entries, 0 to 705756
Data columns (total 89 columns):
Business Partner           705757 non-null object
Customer No.               705757 non-null object
Partner Type               692134 non-null float64
Data Origin                676542 non-null object
Title                      527870 non-null float64
Marital Status             16037 non-null float64
Occupation                 14558 non-null float64
Date of Birth              13444 non-null object
Death date                 663 non-null object
Unnamed: 0_x               154068 non-null float64
Amt Rcvd From Custom       144607 non-null float64
Amt Rcvd From Ins Co       144607 non-null float64
Area / Locality            3269 non-null object
CGST(14%)                  144607 non-null float64
CGST(2.5%)                 144607 non-null float64
CGST(6%)                   144607 non-null float64
CGST(9%)                   144607 non-null float64
CITY                       154068 non-null object
Cash /Cashless Type        7484 non-null object
Claim No.                  1606 non-null object
Cust Type                  154068 non-null object
District                   154068 non-null object
Expiry Date                951 non-null object
Gate Pass Date             11712 non-null object
Gate Pass Time             154068 non-null object
IGST(12%)                  144607 non-null float64
IGST(18%)                  144607 non-null float64
IGST(28%)                  144607 non-null float64
IGST(5%)                   144607 non-null float64
Insurance Company          989 non-null object
Invoice Date               154068 non-null object
Invoice No                 154068 non-null float64
Invoice Time               154068 non-null object
Job Card No                154068 non-null float64
JobCard Date               154068 non-null object
JobCard Time               154068 non-null object
KMs Reading                154068 non-null float64
Labour Total               154068 non-null float64
Make                       154068 non-null object
Misc Total                 154068 non-null float64
Model                      153937 non-null object
ODN No.                    144607 non-null float64
OSL Total                  154068 non-null float64
Order Type                 154068 non-null object
Outstanding Amt            144607 non-null float64
Parts Total                154068 non-null float64
Pin code                   154068 non-null float64
Plant                      154068 non-null object
Plant Name1                154068 non-null object
Policy no.                 949 non-null object
Print Status               154068 non-null object
Recovrbl Exp               154068 non-null float64
Regn No                    154068 non-null object
SGST/UGST(14%)             144607 non-null float64
SGST/UGST(2.5%)            144607 non-null float64
SGST/UGST(6%)              144607 non-null float64
SGST/UGST(9%)              144607 non-null float64
Service Advisor Name       0 non-null float64
TDS amount                 144607 non-null float64
Technician Name            69166 non-null object
Total Amt Wtd Tax.         154068 non-null float64
Total CGST                 144607 non-null float64
Total GST                  144607 non-null float64
Total IGST                 144607 non-null float64
Total SGST/UGST            144607 non-null float64
Total Value                144607 non-null float64
User ID                    154068 non-null object
Unnamed: 0_y               154068 non-null float64
DBM Order                  154068 non-null float64
Order Item                 154068 non-null float64
Material                   153684 non-null object
Labor Value Number         50114 non-null object
Description                153684 non-null object
Item Category              154068 non-null object
Order Quantity             154068 non-null float64
Target quantity UoM        153684 non-null object
Net value                  154068 non-null float64
Name 1                     16987 non-null object
Valuation Area             16987 non-null object
Customer no. - plant       16987 non-null object
Vendor number plant        13394 non-null object
Factory calendar           16987 non-null object
Name 2                     3593 non-null object
House number and street    16987 non-null object
PO Box                     16987 non-null float64
Postal Code                16987 non-null float64
City                       16987 non-null object
Sales organization         16957 non-null object
State                      16987 non-null object
dtypes: float64(45), object(44)
memory usage: 484.6+ MB

In [48]:
final_data=customer_invoice_JTD_plant.copy()

### Check missing values

In [47]:
# Function to calculate missing values by column
def missing_values_table(df):
        "Function which will return null values percentage by column"
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [50]:
missing_values_table(customer)

Your selected dataframe has 9 columns.
There are 7 columns that have missing values.

                Missing Values  % of Total Values
Death date              554675               99.9
Date of Birth           541894               97.6
Occupation              540780               97.4
Marital Status          539301               97.1
Title                    46307                8.3
Data Origin                136                0.0
Partner Type                78                0.0

In [55]:
customer_n=customer.drop(columns=['Death date', 'Date of Birth','Occupation','Marital Status'])
customer_n.head()

  Business Partner Customer No.  Partner Type Data Origin  Title
0               31            1           1.0        Z001    NaN
1               32            2           1.0        Z005    NaN
2               34            4           1.0        Z005    NaN
3               35            5           1.0        Z005    NaN
4               42            7           1.0        Z008    NaN

In [177]:
missing_values_table(invoice_n)

Your selected dataframe has 34 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [59]:
invoice_n=invoice.drop(columns=['Service Advisor Name', 'Claim No.','Policy no.','Expiry Date','Insurance Company'])
invoice_n.head()

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,...,SGST/UGST(9%),TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,Thane,NaN,...,0.0,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,0.0,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2
2,2,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE[W],NaN,...,0.0,0.0,IMRAN,233.14,0.0,0.0,0.0,0.0,233.14,BC01SA2
3,3,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,0.0,0.0,PRASHANT,0.00,0.0,0.0,0.0,0.0,0.00,BC01SA2
4,4,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE,NaN,...,0.0,0.0,DAYANAND,2747.12,0.0,0.0,0.0,0.0,2747.12,BC01SA2

In [60]:
missing_values_table(JTD)

Your selected dataframe has 10 columns.
There are 4 columns that have missing values.

                     Missing Values  % of Total Values
Labor Value Number          3774033               67.2
Material                      51629                0.9
Description                   51629                0.9
Target quantity UoM           51629                0.9

In [ ]:
JTD['Labor Value Number'].value_counts()

### Customer Preprocessing

In [176]:
customer_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555338 entries, 0 to 555337
Data columns (total 5 columns):
Business Partner    555338 non-null object
Customer No.        555338 non-null object
Partner Type        555338 non-null float64
Data Origin         555338 non-null object
Title               555338 non-null float64
dtypes: float64(2), object(3)
memory usage: 21.2+ MB

In [68]:
customer_n['Data Origin'].value_counts()

Z005    149861
Z006    121660
Z001     63237
Z002     38326
Z004     36801
Z019     29780
Z021     28828
Z018     15382
Z013     13967
Z008     12122
Z016      8118
Z011      8023
Z010      6260
Z017      5685
Z003      5082
Z014      4014
Z012      3840
Z007      2069
Z015       745
Z009       735
Z020       590
Z022        77
Name: Data Origin, dtype: int64

In [65]:
customer_n['Title']=customer_n['Title'].fillna(5)
customer_n['Title'].value_counts()

2.0    483932
5.0     46307
1.0     25099
Name: Title, dtype: int64

In [69]:
customer_n.head()

  Business Partner Customer No.  Partner Type Data Origin  Title
0               31            1           1.0        Z001    5.0
1               32            2           1.0        Z005    5.0
2               34            4           1.0        Z005    5.0
3               35            5           1.0        Z005    5.0
4               42            7           1.0        Z008    5.0

In [77]:
customer_n.groupby('Data Origin')['Partner Type'].count().sort_values()

Data Origin
Z022        77
Z020       590
Z009       735
Z015       745
Z007      2069
Z012      3840
Z014      4014
Z003      5082
Z017      5685
Z010      6260
Z011      8023
Z016      8118
Z008     12122
Z013     13967
Z018     15382
Z021     28828
Z019     29780
Z004     36801
Z002     38326
Z001     63237
Z006    121660
Z005    149861
Name: Partner Type, dtype: int64

In [78]:
customer_n['Data Origin']=customer_n['Data Origin'].fillna('Z005')
customer_n['Data Origin'].value_counts()

Z005    149997
Z006    121660
Z001     63237
Z002     38326
Z004     36801
Z019     29780
Z021     28828
Z018     15382
Z013     13967
Z008     12122
Z016      8118
Z011      8023
Z010      6260
Z017      5685
Z003      5082
Z014      4014
Z012      3840
Z007      2069
Z015       745
Z009       735
Z020       590
Z022        77
Name: Data Origin, dtype: int64

### Invoice Processing

In [171]:
invoice_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490789 entries, 0 to 492313
Data columns (total 35 columns):
Unnamed: 0              490789 non-null int64
Amt Rcvd From Custom    490789 non-null float64
Amt Rcvd From Ins Co    490789 non-null float64
Area / Locality         490789 non-null float64
CITY                    490789 non-null object
Cash /Cashless Type     490789 non-null object
Cust Type               490789 non-null object
Customer No.            490789 non-null object
District                490789 non-null object
Gate Pass Date          490789 non-null object
Gate Pass Time          490789 non-null object
Invoice Date            490789 non-null object
Invoice No              490789 non-null int64
Invoice Time            490789 non-null object
Job Card No             490789 non-null int64
JobCard Date            490789 non-null object
JobCard Time            490789 non-null object
KMs Reading             490789 non-null int64
Labour Total            490789 non-null float64
Make                    490789 non-null object
Misc Total              490789 non-null float64
Model                   490789 non-null object
OSL Total               490789 non-null float64
Order Type              490789 non-null object
Parts Total             490789 non-null float64
Pin code                490789 non-null int64
Plant                   490789 non-null object
Plant Name1             490789 non-null object
Print Status            490789 non-null object
Recovrbl Exp            490789 non-null float64
Regn No                 490774 non-null object
Technician Name         490789 non-null object
Total Amt Wtd Tax.      490789 non-null float64
Total Value             293575 non-null float64
User ID                 490789 non-null object
dtypes: float64(10), int64(5), object(20)
memory usage: 134.8+ MB

In [131]:
invoice_n['Amt Rcvd From Custom']=invoice_n['Amt Rcvd From Custom'].fillna(0)
invoice_n['Amt Rcvd From Ins Co']=invoice_n['Amt Rcvd From Ins Co'].fillna(0)

In [170]:
invoice_n['Technician Name']=invoice_n['Technician Name'].fillna('Unknown')

In [169]:
invoice_n['Technician Name'].value_counts()

rajesh                 2122
RAJESH                 1976
SAYYAD                 1906
suresh                 1715
MAHESH                 1652
MANOJ                  1648
sayyad                 1482
saravanan              1479
ramesh                 1398
IMRAN                  1387
mahesh                 1365
SARAVANAN              1309
amit                   1304
murugan                1287
pankaj                 1276
ARUN                   1157
JK                     1145
HARSHAD                1104
praveen                1099
satish                 1098
gurjeet                1085
SURESH                 1079
ANIL                   1073
ali                    1052
SATISH                 1032
arun                   1023
KAMAL                   979
anjani                  978
SAMEER                  969
imran                   963
                       ...
JASPAL WASHING BOY        1
KUMAR/RAJAN               1
GANESH/MAHESH             1
MANOJ /JAWED              1
DAAVARAJI.S               1
RAJENDRABHAI              1
MEERA-SHAFI               1
PRAKESH/DENESH            1
Ashokkumar                1
datta\ds                  1
HENRY                     1
balu/nilesh shinde        1
Munir Ansari              1
VD                        1
vengadachalam,kalai       1
NILESHAP.                 1
sathish/Washing           1
bhushan p                 1
sathish/subhan            1
SAMBHAJI                  1
TAJINDER S                1
ASHOK & ARIF              1
JAHEED                    1
MAHESH/DHANASHEKER        1
lakshmi narayana          1
ayyapanan                 1
imran/dildar              1
PINKLU                    1
aamer                     1
shubham/yasin             1
Name: Technician Name, Length: 15015, dtype: int64

In [139]:
invoice_n.drop(columns=['CGST(14%)','CGST(2.5%)','CGST(6%)','CGST(9%)','IGST(12%)','IGST(18%)','IGST(28%)','IGST(5%)'],inplace=True)

In [160]:
invoice_n.drop(columns=['SGST/UGST(14%)','SGST/UGST(2.5%)','SGST/UGST(6%)','SGST/UGST(9%)','Total CGST','Total GST','Total IGST','Total SGST/UGST'],inplace=True)

In [167]:
invoice_n.drop(columns=['ODN No.','Outstanding Amt','TDS amount'],inplace=True)

In [175]:
invoice_n.drop(columns=['Total Value'],inplace=True)

In [142]:
invoice_n['Cash /Cashless Type']=invoice_n['Cash /Cashless Type'].fillna('Unknown')

In [149]:
inv=invoice_n[['Gate Pass Date','JobCard Date']].copy()

In [155]:
invoice_n['CITY']=invoice_n['CITY'].fillna(invoice_n['Area / Locality'])

In [173]:
invoice_n = invoice_n[pd.notnull(invoice_n['Regn No'])]

In [188]:
missing_values_table(JTD_n)

Your selected dataframe has 10 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [185]:
JTD['Target quantity UoM'].value_counts()

EA     2745660
MIN    2317562
L       504597
GRO         36
Name: Target quantity UoM, dtype: int64

In [181]:
JTD['Labor Value Number']=JTD['Labor Value Number'].fillna('Unknown')

In [187]:
JTD_n = JTD[pd.notnull(JTD['Material'])]

In [189]:
missing_values_table(plant_master)

Your selected dataframe has 13 columns.
There are 5 columns that have missing values.

                         Missing Values  % of Total Values
Vendor number plant                 436               99.5
Sales organization                    5                1.1
Name 2                                2                0.5
House number and street               2                0.5
PO Box                                1                0.2

In [192]:
plant_master_n=plant_master.drop(columns=['Vendor number plant','Name 2','PO Box'],inplace=True).copy()

KeyError: "['Vendor number plant' 'Name 2' 'PO Box'] not found in axis"

In [198]:
plant_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 10 columns):
Plant                      438 non-null object
Name 1                     438 non-null object
Valuation Area             438 non-null object
Customer no. - plant       438 non-null object
Factory calendar           438 non-null object
House number and street    438 non-null object
Postal Code                438 non-null int64
City                       438 non-null object
Sales organization         438 non-null object
State                      438 non-null object
dtypes: int64(1), object(9)
memory usage: 34.3+ KB

In [197]:
plant_master['Sales organization']=plant_master['Sales organization'].fillna('Unknown')

In [199]:
customer_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555338 entries, 0 to 555337
Data columns (total 5 columns):
Business Partner    555338 non-null object
Customer No.        555338 non-null object
Partner Type        555338 non-null float64
Data Origin         555338 non-null object
Title               555338 non-null float64
dtypes: float64(2), object(3)
memory usage: 21.2+ MB

In [204]:
plant_master.to_csv("data\\plant_master.csv");

In [210]:
customer_invoice_join= pd.DataFrame(pd.merge(customer_n, invoice_n, left_on='Customer No.', right_on='Customer No.',how='inner'))
customer_invoice_join.head()

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CITY,...,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Regn No,Technician Name,Total Amt Wtd Tax.,User ID
0,CS000018,CS000018,1.0,Z005,5.0,787293,0.0,0.0,0.0,Chengalpattu,...,0.00,603204,BC07,NERKUNDRAM,YES,0.0,TN19Q2153,Unknown,49.75,BC07SA2
1,E10007,E10007,1.0,Z001,5.0,693968,0.0,0.0,0.0,Hyderabad,...,573.80,500037,BC04,BALANAGAR,NO,0.0,AP28BF7209,chary,1083.77,BC04FS1
2,E10013,E10013,1.0,Z001,5.0,725171,0.0,0.0,0.0,Hyderabad,...,0.00,500012,BC04,BALANAGAR,NO,0.0,AP28AS8746,suresh,1001.29,BC04FS1
3,E10013,E10013,1.0,Z001,5.0,725362,0.0,0.0,0.0,Hyderabad,...,0.00,500012,BC04,BALANAGAR,NO,0.0,AP28AS8746,suresh,0.00,BC04FS1
4,E10014,E10014,1.0,Z001,2.0,684230,0.0,0.0,0.0,Hyderabad,...,80.34,500037,BC05,MADEENAGUDA,NO,0.0,AP28AT3891,Unknown,785.21,BC05SA1

In [211]:
customer_invoice_join.shape

(19703, 38)

In [209]:
missing_values_table(customer_invoice_join)

Your selected dataframe has 38 columns.
There are 4 columns that have missing values.

                  Missing Values  % of Total Values
Business Partner          471071               96.0
Partner Type              471071               96.0
Data Origin               471071               96.0
Title                     471071               96.0

In [ ]:
customer_invoice_JTD_join=pd.DataFrame(pd.merge(customer_invoice_join, JTD_n, left_on='Job Card No', right_on='DBM Order',how='left'))
customer_invoice_JTD_join.head()

In [ ]:
customer_invoice_JTD_plant_join=pd.DataFrame(pd.merge(customer_invoice_JTD_join, plant_master, left_on='Plant', right_on='Plant',how='left'))
customer_invoice_JTD_plant_join.head()

In [215]:
JTD_invoice_join=pd.DataFrame(pd.merge(JTD_n,invoice_n, left_on='DBM Order', right_on='Job Card No',how='inner'))
JTD_invoice_join.head()

,Unnamed: 0_x,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value,...,Parts Total,Pin code,Plant,Plant Name1,Print Status,Recovrbl Exp,Regn No,Technician Name,Total Amt Wtd Tax.,User ID
0,0,22385,180,OSLCC_SRV31,Unknown,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87,...,0.00,500035,BC04,BALANAGAR,NO,0.0,AP28AY8040,laxminarayana,1869.87,BC04SA1
1,1,23910,10,1DM279018170117,Unknown,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13,...,41990.54,411038,BC02,PUNE,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1
2,2,23910,40,1IS150203BE01,Unknown,FRONT WHEEL BEARING/ LUBRICATE,P002,1.0,EA,2552.92,...,41990.54,411038,BC02,PUNE,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1
3,3,23910,60,1DM279001990173,Unknown,ASSY.CYL.HEAD W /O INJ.(NA W /O,P002,1.0,EA,20360.14,...,41990.54,411038,BC02,PUNE,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1
4,4,23910,70,1DM88552790S001SA,Unknown,Engine Overhaul Kit -Indica Di,P002,1.0,EA,10691.63,...,41990.54,411038,BC02,PUNE,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1

In [216]:
JTD_invoice_join.shape

(3058847, 44)

In [217]:
missing_values_table(JTD_invoice_join)

Your selected dataframe has 44 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [272]:
JTD_invoice_customer_join=pd.DataFrame(pd.merge(JTD_invoice_join,customer_n, left_on='Customer No.', right_on='Customer No.',how='left'))
JTD_invoice_customer_join.head()

,Unnamed: 0_x,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value,...,Print Status,Recovrbl Exp,Regn No,Technician Name,Total Amt Wtd Tax.,User ID,Business Partner,Partner Type,Data Origin,Title
0,0,22385,180,OSLCC_SRV31,Unknown,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87,...,NO,0.0,AP28AY8040,laxminarayana,1869.87,BC04SA1,NaN,NaN,NaN,NaN
1,1,23910,10,1DM279018170117,Unknown,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13,...,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1,E26912,1.0,Z001,5.0
2,2,23910,40,1IS150203BE01,Unknown,FRONT WHEEL BEARING/ LUBRICATE,P002,1.0,EA,2552.92,...,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1,E26912,1.0,Z001,5.0
3,3,23910,60,1DM279001990173,Unknown,ASSY.CYL.HEAD W /O INJ.(NA W /O,P002,1.0,EA,20360.14,...,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1,E26912,1.0,Z001,5.0
4,4,23910,70,1DM88552790S001SA,Unknown,Engine Overhaul Kit -Indica Di,P002,1.0,EA,10691.63,...,NO,0.0,MH12CD3403,SAJID,52351.48,BC02SA1,E26912,1.0,Z001,5.0

In [273]:
JTD_invoice_customer_join.shape

(3058847, 48)

In [278]:
missing_values_table(JTD_invoice_customer_join)

Your selected dataframe has 48 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [277]:
JTD_invoice_customer_join['Business Partner']=JTD_invoice_customer_join['Business Partner'].fillna(JTD_invoice_customer_join['Customer No.'])
JTD_invoice_customer_join['Partner Type']=JTD_invoice_customer_join['Partner Type'].fillna(6)
JTD_invoice_customer_join['Data Origin']=JTD_invoice_customer_join['Data Origin'].fillna('NoCustomer')
JTD_invoice_customer_join['Title']=JTD_invoice_customer_join['Title'].fillna(6)

In [275]:
customer_n

       Business Partner Customer No.  Partner Type Data Origin  Title
0                    31            1           1.0        Z001    5.0
1                    32            2           1.0        Z005    5.0
2                    34            4           1.0        Z005    5.0
3                    35            5           1.0        Z005    5.0
4                    42            7           1.0        Z008    5.0
5                    45            9           1.0        Z003    5.0
6                    46           10           1.0        Z005    5.0
7                    47           11           1.0        Z005    5.0
8                    49           13        9001.0        Z003    5.0
9                    50           14           1.0        Z005    5.0
10                   51           15           1.0        Z001    5.0
11                   52           16           1.0        Z006    5.0
12                   53           17           1.0        Z005    5.0
13                   55           19           1.0        Z013    2.0
14                   56           20           3.0        Z004    5.0
15                   61           21           1.0        Z001    5.0
16                   63           23           1.0        Z001    5.0
17                   64           24           1.0        Z016    5.0
18                   65           25           1.0        Z005    5.0
19                   57           26           1.0        Z003    5.0
20                   59           27           3.0        Z012    5.0
21                   60           28           1.0        Z005    5.0
22                   71           29           1.0        Z004    5.0
23                   73           30           1.0        Z005    5.0
24                   74           31           1.0        Z005    2.0
25                   75           32        9003.0        Z018    5.0
26                   76           33           3.0        Z005    5.0
27                   77           34           1.0        Z006    5.0
28                   78           35           1.0        Z021    2.0
29                   80           37           1.0        Z005    5.0
...                 ...          ...           ...         ...    ...
555308           PLX073       PLX073           1.0        Z005    5.0
555309           PLX076       PLX076           1.0        Z005    5.0
555310           PLX081       PLX081           1.0        Z005    5.0
555311           PLX099       PLX099           1.0        Z005    5.0
555312           PLX109       PLX109           1.0        Z005    5.0
555313           PLX112       PLX112           1.0        Z005    5.0
555314           PLX115       PLX115           1.0        Z005    5.0
555315           PLX126       PLX126           1.0        Z005    5.0
555316           PLX129       PLX129           1.0        Z005    5.0
555317           PLX148       PLX148           1.0        Z005    5.0
555318           PLX224       PLX224           1.0        Z005    5.0
555319           PLX241       PLX241           1.0        Z005    5.0
555320           PLX249       PLX249           1.0        Z005    5.0
555321           PLX254       PLX254           1.0        Z005    5.0
555322           PLX265       PLX265           1.0        Z005    5.0
555323           PLX266       PLX266           1.0        Z005    5.0
555324           PLX277       PLX277           1.0        Z005    5.0
555325           PLX312       PLX312           1.0        Z005    5.0
555326           PLX316       PLX316           1.0        Z005    5.0
555327           PLX317       PLX317           1.0        Z005    5.0
555328           PLX361       PLX361           1.0        Z005    5.0
555329           PLX380       PLX380           1.0        Z005    5.0
555330           PLX386       PLX386           1.0        Z005    5.0
555331           PLX473       PLX473           1.0        Z005    5.0
555332           PLX500       PLX500           1.0        Z005    5.0
555333           PLX506       PLX506           1.0        Z005    5.0
555334           PLX507       PLX507           1.0        Z005    5.0
555335           PLX508       PLX508           1.0        Z005    5.0
555336           PLX555       PLX555           1.0        Z005    5.0
555337           RSA100       RSA100           1.0        Z005    5.0

[555338 rows x 5 columns]